* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: white;
    overflow: hidden;
}

// header
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;

    // navbar
    .navbar {
        width: 100%;
        height: 85px;
        position: relative;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;

        // hamburger button
        &-hamburger{
            width: 30%;
            height: 48px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;


            span{
                display: block;
                width: 40px;
                height: 6px;
                background-color: white;
                border-radius: 10px;
            }
            .one,.three {
                width: 30px;
            }
        }
        // end hamburger button

        // navbar items
        &-items {
            width: 30%;

            ul {
                display: flex;
                height: 85px;
                justify-content: space-around;
                align-items: center;
                
                li {
                    list-style: none;

                    a{
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }
        }
        // end navbar items

        // navbar sosial media
        &-sosial-media{
            width: 30%;
        }
        // end navbar sosial media
    }
    // end navbar
}
// end header